// Colors
$yellow: #ffcc00;
$gray: #898f8f;
$darkgray: #666666;
$white: #ffffff;

//main
body {
  margin: 0;
  height: 100vh;
}
.content {
  background-color: $white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 800px;
  &_name {
    width: auto;
    text-align: center;
    font-weight: 500;
    font-family: "Raleway";
    font-size: 18px;
    color: $gray;
  }
  &_bigname {
    color: $yellow;
    font-weight: 900;
    font-family: "Roboto";
    font-size: 60px;
  }
  &_border {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
.content_border-left {
  border-top: 2px solid $yellow;
  height: 0px;
  width: 300px;
  margin-left: 100px;
}
.content_border-center {
  border: 2px solid $yellow;
  height: 20px;
  width: 10px;
}
.content_border-right {
  border-top: 2px solid $yellow;
  height: 0px;
  width: 300px;
  margin-right: 100px;
}
.content_text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  &-bigname {
    font-weight: 900;
    font-family: "Roboto";
    font-size: 36px;
    color: $darkgray;
  }
  &-name {
    font-weight: 400;
    font-family: "Raleway";
    font-size: 24px;
    color: $darkgray;
  }
  &-text {
    font-weight: 500;
    font-family: "Raleway";
    font-size: 14px;
    text-align: center;
    color: $darkgray;
  }
  &-bottomtext {
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway";
    color: $darkgray;
    outline: 2px solid $yellow;
    padding: 10px;
  }
}
.content_content-image {
  outline: 2px solid $yellow;
  padding: 40px;
  box-sizing: border-box;
}
