* {
  font-family: Roboto, sans-serif;
}
body {
  margin: 0;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 0 40px;
  position: fixed;
  width: 95%;

  background-color: white;
  z-index: 2;
}
.header_word {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.header_word_eng {
  width: 41px;
  height: 23px;
}

.header_image {
  height: 49px;
}
span {
  margin-left: 40px;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 55px 40px 0 40px;
}
.sidebar_list {
  padding-inline-start: 0;
}
.sidebar {
  width: 600px;
}
h1,
h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}
.list_text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
}
h2 {
  font-family: PT Sans;
  font-weight: 700;
  transform: rotate(0.42deg);
}
.text {
  background-image: url(img/Frame\ 1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  width: 100%;
}
.sidebar_text {
  border-bottom: 1px solid #bfbfbf;
}
h1 {
  align-content: space-around;
}
.list_content {
  list-style-type: none;
}
.sidebar_list {
  position: sticky;
  top: 60px;
  align-content: unset;
}
.field {
  position: relative;
}
.list_title1 {
  position: sticky;
  top: 59px;
  background-color: white;
  padding: 2px;
}
.list_title2 {
  position: sticky;
  top: 59px;
  background-color: white;
  padding: 2px;
}
.list_title3 {
  position: sticky;
  top: 59px;
  background-color: white;
  padding: 2px;
}
.list_title4 {
  position: sticky;
  top: 59px;
  background-color: white;
  padding: 2px;
}
